.table-header {
    display: flex;
    flex-direction: row;
    border: 1px solid #ccc;
    border-radius: 6px 6px 0 0;
    margin-bottom: 0;
}

.table-header-cell {
    flex: 1;
    text-align: start;
    padding: 8px;
    margin-left: 4px;
}
.product-name1{
    flex: 2;
}