.order-screen-container {
  width: 100%;
  margin: 0 auto;
  background-color: #fbfbfb;
  height: 100vh;
  overflow: auto;
  padding-bottom: 0;
}
.translucent {
  opacity: 0.2;
}

.order-details-item-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 15px 40px 0 40px;
  background-color: #fff;
  border: 2px solid #d6d6d6;
  border-radius: 8px;
  height: 100px;
  max-height: fit-content;
  max-width: 100%;
  padding: 20px 15px;
}

.cart-items-container {
  margin: 15px 40px 0 40px;
  background-color: #fff;
  border: 2px solid #d6d6d6;
  border-radius: 8px;
  max-height: fit-content;
  padding: 20px 15px;
  font-family: "Roboto";
}

.search-bar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  width: 40%;
  margin: 15px 0 40px 0;
  background-color: #fff;
  border: 1px solid #d6d6d6;
  border-radius: 16px;
  max-height: fit-content;
  padding: 0 15px;
}
.search-bar {
  width: 100%;
  height: 40px;
  border: none;
  font-family: "Roboto";
  font-size: 16px;
  color: #686868;
  font-weight: 600;
  outline: none;
}
.search-icon {
  color: #686868;
  font-size: 20px;
  cursor: pointer;
}

.order-table {
  display: flex;
  flex-direction: column;
  width: 100%;
  color: #686868;
  font-weight: 600;
}

.table-body {
  display: flex;
  flex-direction: column;
}

.table-row {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid #ccc;
}

.table-cell {
  text-align: start;
  height: 100px;
  padding: 12px;
}

.footer {
  margin: 25vh 0 0 0;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;  
  text-align: center;
  vertical-align: center;
  background-color: #ececec;
  color: #1e633f;
}
